<div *ngIf="isLoading">
  <p>Загрузка...</p>
</div>
<div *ngIf="!isLoading">
  <input type="text" placeholder="Поиск по имени пользователя" (input)="filterUsers($event)">
  <div>
    <select (change)="changeItemsPerPage($event)">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">Показывать {{ option }}</option>
    </select>
  </div>
  <div>
    <button (click)="previousPage()">prev</button>
    <button (click)="nextPage()">next</button>
  </div>
  <button type="button" (click)="isCardVisible.set(!isCardVisible())">Сменить вид</button>
  @if (!isCardVisible()) {
    <h2>Список пользователей</h2>
    <ul>
      <li *ngFor="let user of filteredUsers | slice: (currentPage - 1) * itemsPerPage : (currentPage - 1) * itemsPerPage + itemsPerPage">
        {{ user.user_name }}
          <button (click)="deleteUser(user.id)">Удалить</button>
      </li>
    </ul>
  }
  @if (isCardVisible()) {
    <h2>Карточки пользователей</h2>
    <div class="card-container">
      <div class="profile-card" *ngFor="let user of filteredUsers | slice: (currentPage - 1) * itemsPerPage : (currentPage - 1) * itemsPerPage + itemsPerPage">
        <strong>{{user.user_name}}</strong>
          <button (click)="deleteUser(user.id)">Удалить</button>
      </div>
    </div>
  }
  <p>Всего пользователей: {{ totalUsers }}</p>
</div>